# SQL Intro 2

- Managing Tables

    - Create a Table

    - Modifying table fields

    - Delete a table

- Modifying Data

    - Insert data

    - Update data

    - Delete data

- Multi table queries

    - Join

    - Joining tables

## Managing Tables

### Create a Table

: 테이블 생성

```sql
CREATE TABLE table_name (
    column_1 data_type contraints,
    column_2 data_type contraints,
    ...,
)
```

- 각 필드에 적용할 데이터 타입 작성

    1. NULL : 아무런 값도 포함하지 않음을 나타냄

    2. INTEGER : 정수

    3. REAL : 부동 소수점

    4. TEXT : 문자열

    5. BLOB : 이미지, 동영상, 문서 등의 바이너리 데이터

- 테이블 및 필드에 대한 제약조건(constraints) 작성

#### 제약 조건

: 테이블의 필드에 적용되는 규칙 또는 제한 사항

-> 데이터의 무결성을 유지하고 데이터베이스의 일관성을 보장

- PRIMARY KEY

    - 해당 필드를 기본 키로 지정

    `INTEGER 타입에만 적용되며 INT, BIGINT 등과 같은 정수 유형은 적용되지 않음` --- ??

- NOT NULL

    - 해당 필드에 NULL 값을 허용하지 않도록 지정

- FOREIGN KEY

    - 다른 테이블과의 외래 키 관계를 정의

#### AUTOINCREMENT 키워드

: 자동으로 고유한 정수 값을 생성하고 할당하는 필드 속성

- 필드의 자동 증가를 나타내는 특수한 키워드

- 주로 primary key 필드에 적용

- `INTEGER PRIMARY KEY AUTOINCREMENT` 가 작성된 필드는 항상 새로운 레코드에 대해 이전 최대 값보다 큰 값을 할당

- 삭제된 값은 무시되며 재사용할 수 없게 된다.

<br>

## Modifying Table Fields

### ALTER TABLE statement

: 테이블 및 필드 조작

|명령어|역할|
|---|---|
|ALTER TABLE **ADD COLUMN**|필드 추가|
|ALTER TABLE **RENAME COLUMN**|필드 이름 변경|
|ALTER TABLE **DROP COLUMN**|필드 삭제|
|ALTER TABLE **REAME TO**|테이블 이름 변경|

#### ALTER TABLE ADD COLUMN

```sql
ALTER TABLE
    table_name
ADD COLUMN
    column_definition;
```

- ADD COLUMN 키워드 이후 추가하고자 하는 새 필드 이름과 데이터 타입 및 제약 조건 작성

- SQLite는 단일 문을 사용하여 한번에 여러 필드를 추가할 수 없다.

#### ALTER TABLE RENAME COLUMN

```sql
ALTER TABLE
    table_name
RENAME COLUMN
    column_name TO new_name;
```

- RENAMEN COLUMN 키워드 뒤에 이름을 바꾸려는 필드의 이름을 지정하고 TO 키워드 뒤에 새 이름을 지정

#### ALTER TABLE DROP COLUMN

```sql
ALTER TABLE
    table_name
DROP COLUMN
    current_name
```

- DROP COLUMN 키워드 뒤에 삭제하려는 필드의 이름을 지정

- 삭제하는 필드가 다른 부분에서 참조되지 않고 PRIMARY KEY가 아니며 UNIQUE 제약 조건이 없는 경우에만 작동

<br>

## Delete a Table

### DROP TABLE

: 테이블 삭제

`DROP TABLE table_name;`

- DROP TABLE statement 이후 삭제할 테이블 이름 작성

[참고]

- 타입 선호도 : 컬럼에 데이터 타입이 명시적으로 지정되지 않았거나 지원하지 않을 때 SQLite가 자동으로 데이터 타입을 추론하는 것

1. 유연한 데이터 타입 지원
    - 데이터 타입을 명시적으로 지정하지 않고도 데이터를 저장하고 조회할 수 있음
    - 컬럼에 저장되는 값의 특성을 기반으로 데이터 타입을 유추

2. 간편한 데이터 처리
    - INTEGER Type Affinity를 가진 열에 문자열 데이터를 저장해도 SQLite는 자동으로 숫자로 변환하여 처리

3. SQL 호환성
    - 다른 데이터베이스 시스템과 호환성을 유지

<br>

## Modifying Data

### INSERT statement

: 테이블 레코드 삽입

```sql
INSERT INTO table_name(c1, c2, ...)
VALUES (v1, v2, ...);
```

- INSERT INTO 절 다음에 테이블 이름과 괄호 안에 필드 목록 작성

- VALUES 키워드 다음 괄호 안에 해당 필드에 삽입할 값 목록 작성

### UPDATE statement

: 테이블 레코드 수정

```sql
UPDATE table_name
SET column_name = expression,
WHERE
    condition;
```

- SET 절 다음에 수정 할 필드와 새 값을 지정

- WHERE 절에서 수정 할 레코드를 지정하는 조건(id) 작성

- WHERE 절을 작성하지 않으면 모든 레코드를 수정

### DELETE statement

: 테이블 레코드 삭제

```sql
DELETE FROM table_name
WHERE
    contition;
```

- DELETE FROM 절 다음에 테이블 이름 작성

- WHERE 절에서 삭제할 레코드를 지정하는 조건 작성

- WHERE 절을 작성하지 않으면 모든 레코드를 삭제

<br>

## Multi Table Queries

관계 : 여러 테이블 간의 논리적 연결

### JOIN

: 둘 이상의 테이블에서 데이터를 검색하는 방법

- 테이블을 분리하면 데이터 관리는 용이해질 수 있으나 출력시에는 문제가 있다.

- 테이블 한 개 만을 출력할 수 밖에 없어 다른 테이블과 결합하여 출력하는 것이 필요할 경우 사용

#### INNER JOIN

: 두 테이블에서 값이 일치하는 레코드에 대해서만 결과를 반환

```sql
SELECT
    select_list
FROM
    table_a
INNER JOIN table_b
    ON table_b.fk = table_a.pk;
```

- FROM 절 이후 메인 테이블 지정 (table_a)

- INNER JOIN 절 이후 메인 테이블과 조인할 테이블을 지정 (table_b)

- ON 키워드 이후 조인 조건을 작성

- 조인 조건은 table_a과 table_b 간의 레코드를 일치시키는 규칙을 지정

#### LEFT JOIN

: 오른쪽 테이블의 일치하는 레코드와 함께 왼쪽 테이블의 모든 레코드 반환

```sql
SELECT
    select_list
FROM
    table_a
LEFT JOIN table_b
    ON table_b.fk = table_a.pk;
```

- FROM 절 이후 왼쪽 테이블 지정 (table_a)

- LEFT JOIN 절 이후 오른쪽 테이블 지정 (table_b)

- ON 키워드 이후 조인 조건을 작성

    - 왼쪽 테이블의 각 레코드를 오른쪽 테이블의 모든 레코드와 일치시킴

- 왼쪽은 테이블의 모든 레코드를 표기

- 오른쪽 테이블과 매칭되는 레코드가 없으면 NULL을 표기

ex) 게시글을 작성한 이력이 없는 회원 조회 시 사용